* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    background: rgb(208, 236, 236)
}

body {
    text-align: center;
    font: 16px "Helvetica Neue", Arial, sans-serif;
    color: rgb(12, 14, 12);
}